.shoppingListItemsBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: clamp(14px, 2.5vw, 20px);
  margin-bottom: 10px;
}

.exportModalBodyContainer {
  font-size: 20px;

  hr {
    margin: 10px 0;
  }

  select {
    font-size: 20px;
    padding: 5px 0;
  }

  & :not(:last-child) {
    margin-bottom: 10px;
  }
}

.exportModalFooterContainer {
  margin-top: 10px;

  button {

    &:not(:first-child) {
      margin-left: 20px;
      background-color: var(--rose2);
    }
  }
}