.activitiesView {
  min-height: 100vh;
  padding: 20px;

  padding-top: 60px;

  & > nav {
    margin-bottom: 10px;

    & > select {
      padding: 5px;
    }
  }

  & > main {
    width: 100%;
  }
}