.mainContainer {
  min-height: 100vh;
  padding: 0 40px;
  align-items: start;

  .shoppingListsTilesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    gap: 20px;
  }

  .mainHeader {
    padding: 25px 0;
    padding-top: 45px;
  }
}
