.recipeContainer {
    padding: 20px;
    background-color: var(--white1);
    border-radius: 15px;
    cursor: pointer;

    .titleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .titleHeader {
      font-size: 1.2rem;
      color: var(--brown1);
    }

    .authorHeader {
      font-size: 0.8rem;
      color: var(--stone3);
    }

    .preparationTime {
      color: var(--brown1)
    }

    &:not(:has(button:hover)):hover {
      background-color: var(--white2);
    }

    & :not(:last-child) {
      margin-bottom: 10px;
    }

    input[type=checkbox] {
      transform: scale(2);
    }
  }