.leftCheckbox {
  margin-right: 20px;

  input[type=checkbox] {

    accent-color: var(--rose2);
  }
}

.shoppingItemPostfix {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}



